 #stepListBox{

    
    max-height: 600px;
    border: 2px solid black;
    background-color: rgba(228, 227, 227, 0.599);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow:scroll;
    

}

#poiBox
{
    border: 2px solid black;
    min-width: 400px;
    max-width: 400px;
    height: 100%;
    overflow: scroll;
    margin-left: 5px;
    margin-right: 5px;
    
    


}
#poiListBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
}


.inputStyle{

    width:450px;
    height:100px;

}

#stepInfoBox{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

#selectPOIBox{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    


}

#titleTrip{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



