#PoiModalBox{

    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    width : 400px;
    height: 500px;

    border: 2px solid grey;

    margin-top : 60px;

    background-color: rgba(200,200,200, 0.8);

    left:1490px;
}

#PoiInputs{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;


}

#closeIcon{

    margin-left:350px;
}

.PoiInput{

    width: 300px;  
    background-color: white;

}

.BtnBox{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
    width: 300px;
}


.deleteModal{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    border: 2px solid #000;
    background-color: white;
    width: 400px;
    height: 200px;

    padding: 10px;
      
}

