.ModalBox{

    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    right: 4%;
    width : 25%;
    height: 55%;

    border: 1px gray;
    box-shadow:#000 40px;
    border-radius: 5px;
    margin-top : -39%;
    z-index: 4;
    background-color: white;
    pointer-events: auto;
}


#closeIcon{

    margin-left:89%;
    margin-top: -2%;
}

.PoiInputs{
    width: 90%;
    height: 90%;
}

.PoiInput{
    background-color: white;
    width: 100%;
    
    padding-left: 5%;
    padding-right: 5%;

}

.BtnBox{

    display: flex;
    
    flex-direction: row;
    
}


.deleteModal{

    position: absolute;
    top: 40%;
    left: 35%;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: white;
    width: 30%;
    height: 20%;

    padding: 10px;
      
}

