.StepModalBox{

    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    top: 16vh;
    right: 4vw;
    width : 30vw;
    height: 80vh;

    border: 1px gray;
    
    box-shadow:"rgba(0, 0, 0, 0.90) 0px 4px 4px";
    border-radius: 5px;
    z-index: 4;
    background-color: white;
    pointer-events: auto;
}

