.StepModalBox{

    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    right: 4%;
    width : 30%;
    height: 85%;

    border: 1px gray;
    
    box-shadow:"rgba(0, 0, 0, 0.90) 0px 4px 4px";
    border-radius: 5px;
    margin-top : -42.2%;
    z-index: 4;
    background-color: white;
    pointer-events: auto;
}

